<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="3-sign-in.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>belajar materialize</title>
  </head>

  <body>

    <div class="container-fluid center-align" style="background-color: #001D39;">
        <img src="../../icon-assets/Group24.png" alt="" class="responsive-img"/>
        <h3 class="white-text">Dekapolis</h3>
        <a href="#" class="waves-effect waves-light black-text white btn">Daftar Anak</a>
        <br><br>

        <!-- pilih kelas -->
      <div class="row">
        <div class="col s3"></div>
        <div class="input-field col s6 ">
          <!-- pilihan kelas -->
          <select>
            <option value="yes">kelas 1</option>
            <option value="no">kelas 2</option>
            <option value="dont">I Don't Know</option>
          </select>
          <!-- placeholder -->
          <label>Pilih kelas</label>
        </div>
        <div class="col s3"></div>
      </div> <!-- end div row-->

    </div> <!-- container div end top bar-->

    <!-- Compiled and minified JavaScript -->
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>  
    $(document).ready(function() {
      M.updateTextFields();
    });
    </script>
  </body>
</html>
      